.circle {
    border: 0px solid aliceblue;
    border-radius: 50%;
}
.placeholder {
    width: 10%;
    height: 10%;
    margin-left: 5%;
    display: flex;
}
.name-container {
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: baseline;
    color: "#110F0F";
}
.logout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 53%;
    color: "#110F0F";
}
.p-color {
    color: #E84F5B;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: "montserrat";
    font-size: 28px;
}
.policies {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
}
.row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
}
.color {
    color: white;
    font-size: 20px;
    font-family: "Monserrat";
}
.icon-wrap {
    width: 60px;
}
.border {
    background-repeat: "no-repeat";
    margin-right: 1%;
    width: 365px ;
    border-radius: 10px;
    height: 100px;
    padding: 0;
}
.wrapper {
    width: 90%;
    padding-left: 5%;
    font-family: "FiraGO";
    padding-bottom: 2%;
}

.links-text {
    font-size: 26px;
    font-family: "Monserrat";
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.place-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}
.personal-back {
    height: 400px;
}
.contain {
    background-size: contain;
    display: flex;
    align-items: flex-end;
}
.title {
    font-size: 25px;
    color: "#110F0F"
}
.personal-p {
    font-size: 18px;
}

.personal-btn {
    width: 224px;
    height: 49px;
    font-size: 24px;
}
.px26 {
    font-size: 26px;
}
.personal-right {
    right: -200px;
}
.personal-right:hover {
    right: 0px;
}


@media (min-width: 1150px) {
    .personal-back {
        height: 520px;
        background-size: cover;
    }
    .title {
        color: white;
    }
    .personal-p {
        color: white;
        font-size: 24px;
    }
}

@media (max-width: 1150px) {
    .personal-back {
        height: 370px;
        width: 100%;
    }
}

@media (max-width: 1150px) {
    .title {
        color: black;
    }
    .personal-p {
        color: black;
    }
}

@media (max-width: 1040px) {
    .personal-back {
        height: 335px;
        width: 100%;
    }
    .personal-btn {
        width: 190px;
        height: 40px;
        font-size: 20px;
    }
}

@media (max-width: 950px) {
    .personal-back {
        height: 310px;
        width: 100%;
    }
    .placeholder {
        width: 15%;
        height: 15%;
    }
    .policies {
        flex-direction: column;
        align-items: center;
    }
    .border {
        margin-bottom: 2%;
    }
    #link {
        width: 140px;
    }
    .px26 {
        font-size: 22px;
    }
}


@media (max-width: 800px) {
    .personal-back {
        height: 260px;
        width: 100%;
    }
    .placeholder {
        width: 20%;
        height: 20%;
    }
    .title {
        font-size: 22px;
    }
    .personal-p {
        font-size: 14px;
    }
    #link {
        width: 100px;
    }
    .px26 {
        font-size: 16px;
    }
    .links-text {
        margin-right: 2%;
    }
}

@media (max-width: 670px) {
    .personal-back {
        height: 234px;
        width: 100%;
    }
    .name-container {
        width: 50%;
    }
}

@media (max-width: 540px) {
    .personal-back {
        height: 185px;
        width: 100%;
    }
    #logout {
        display: none;
    }
}

@media (max-width: 500px) {
    .personal-back {
        height: 205px;
        width: 100%;
    }
    
    .placeholder {
        width: 23%;
        height: 20%;
    }

}