.repeat {
    background-repeat: no-repeat;
    margin-top: 1%;
    width: 1125px;
    /* margin-left: 10%; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-size: contain;
}
.contacts-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 93px;
}
.contacts-div {
    width: 365px;
    height: 85px;
    border-radius: 10px;
    margin-right: 2%;
    border: 5px solid #E84F5B;
    background-color: #E84F5B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: "FiraGO";
}
.div-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-container {
    margin-right: 2%;
    margin-left: 2%;
    width: 60px
}
.margin-left {
    margin-left: 2%;
}
.year {
    width: 100px;
    height: 85px;
    background-color: #E84F5B;
    color: white;
    border: 1px solid #E84F5B;
    border-radius: 10px;
}
.year-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-year {
    font-size: 28px;
    font-family: "ForaGO";
    display: flex;
    justify-content: center;
    text-align: center;
}
.offer-size {
    font-size: 32px;
}
.margin-o {
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 12%;
}
.offer-p {
    font-size: 18px;
}
.contacts-p {
    font-size: 26px ;
}
.icon-p {
    font-size: 60px;
}
.container-h {
    height: 93px;
}

@media (max-width: 1150px) {
    .offer-size{
        font-size: 25px;
    }
    .margin-o {
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .offer-p {
        font-size: 14px;
    }
    .repeat {
        width: 900px;
        margin:  1% 0;
    }
    .year-div {
        flex-wrap: wrap;
    }
    .year { 
        margin-bottom: 1%;
    }
    .contacts-div {
        width: 250px;
        height: 70px;
    }
    .icon-container {
        width: 45px;
    }
    .contacts-p {
        font-size: 15px;
    }
    .icon-p {
        font-size: 36px;
    }
    .container-h {
        height: 75px;
    }
    .contacts-wrap {
        height: 75px;
    }
}

@media (max-width: 950px) {
    .offer-size{
        font-size: 20px;
    }
    .margin-o {
        margin-top: 7%;
        margin-bottom: 3%;
    }
    .offer-p {
        font-size: 12px;
    }
    #offers-div {
        width: 70%;
        margin-top: 25%;
    }
    .margin-o {
        display: none;
    }
    .repeat {
        width: 700px;
        margin:  1% 0;
    }
    #offers-div1 {
        width: 60%;
        margin-top: 15%;
    }
    .margin-o {
        margin-top: 7%;
        margin-bottom: 3%;
    }
    .offer-p {
        font-size: 14px;
    }
    #company {
        font-size: 20px;
    }
    .contacts-div {
        width: 200px;
        height: 55px;
    }
    .year {
        width: 70px;
        height: 30px;
    }
    .p-year {
        
        font-size: 10px;
    }
    .contacts-wrap {
        height: 60px;
    }
}


@media (max-width: 800px) {
    #company {
        font-size: 20px;
        margin: 0;
    }
    .offer-size {
        display: none;
    }
    #offers-div1 {
        width: 70%;
        margin-top: 15%;
    }
    .offer-p {
        display: none;
    }
    .offer-size1 {
        font-size: 12px;
    }
    .repeat {
        width: 600px;
        margin:  1% 0;
    }
    .contacts-div {
        width: 180px;
        height: 50px;
        display: flex;
        justify-content: center;
    }
    #contacts-icon {
        width: 24px;
    }
    .margin-left {
        font-size: 16px;
    }
    .container-h {
        height: 35px;
    }
    .contacts-wrap {
        height: 35px;
    }
    .contacts-p {
        display: none;
    }
    .icon-container {
        width: 25px;
    }
    .icon-p {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .contacts-div {
        width: 110px;
        height: 40px;
    }
    .repeat {
        width: 380px;
        margin:  1% 0;
    }
    .contacts-p {
        font-size: 10px;
    }
}

@media (min-width: 800px) {
    #company {
        display: none;
    }
    .offer-size1 {
        display: none;
    }
}