.div-place {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.div-flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
}
.div-link {
    background-color: none;
    border: 1px solid white;
    width: 158px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-radius: 5px;
}
.link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 200px;
    margin-right: 10%;
}
.footer-container {
    width: 100%;
    height: 500px;
    background-color: #5C656B;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.div-wrapper {
    display: flex;
    margin: 0;
    font-size: 36px;
}
.div-flexible {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 85%;
    margin-top: 2%;
}
.p-size {
    font-family: "Montserrat";
    font-size: 12px;
    color: white;
    opacity: 0.6;
}
.component-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
    align-items: flex-start;
    flex-wrap: wrap;
}
.align-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.opacity-text {
    font-size: 14px;
    font-family: "Montserrat";
    color: white;
    opacity: 0.7;
}
.text-wrapper {
    display: flex;
    text-align: center;
}

