.container {
    height: 100px;
    width: 100%;
}
.background {
    background-color: rgba(17,15,15, .34);
    /* opacity: 0.34; */
    margin-left: 9px;
}
.hide {
    display: none;
}
.front {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    padding-right: 50px;
    width: 900px;
}
.btn {
    background-color: #E84F5B;
    width: 158px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-color: #E84F5B;
    border-radius: 5px;
}
.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    padding-left: 119px;
    padding-top: 29px;
}
.img {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;

}
.lang-btn {
    background-color: unset;
    border-color: white;
    color: white;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

@media (max-width: 1350px) {
    .end {
        display: none;
    }
    .lang {
        display: none;
    }
    
}