.container {
    height: 100px;
    width: 100%;
}
.background {
    background-color: rgba(17,15,15, .34);
    z-index: 11;
}
.hide {
    display: none;
}
.front {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    padding-right: 50px;
    width: 900px;
}
.btn {
    background-color: #E84F5B;
    width: 158px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-color: #E84F5B;
    border-radius: 5px;
    text-decoration: none;
}
.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    padding-left: 119px;
    padding-top: 29px;
}
/* .img {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;

} */
.lang-btn {
    background-color: unset;
    border-color: white;
    color: white;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}
.div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
  }
  .important {
      text-decoration: none !important;
  }
.none {
    display: none;
}
@media (max-width: 1150px) {
    .end {
        display: none;
    }
    .lang {
        display: none;
    } 
    .none{
        display: flex;
        padding-top: 29px;
    }   
    .wrap {
        justify-content: center;
        padding-left: 0;
        padding-top: 15px;
    }
    .container {
        height: 70px;
    }
}