.p {
    margin-left: 4%;
    font-size: 32px;
    font-family: 'Montserrat';
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.individual-div {
    height: 280px;
    width: 365px;
    background-color: #E84F5B;
    border-radius: 5px;
}
.text {
    margin: 0;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icon {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 15px;
}
.div-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.l-text {
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: right;
    padding-right: 5%;
    height: 50%;
}

.decoration {
    text-decoration: none;
}

/* products */
.p-container {  
    display: flex;
    background-color: rgb(92, 101, 107);
    justify-content: flex-start;
    padding-left: 4%;
    align-items: flex-start;
    flex-direction: column;
}
.p-text {
    color: white;
    padding-left: 4%;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.after-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}
.flex {
    display: flex;
}
.p-height {
    height: 250px
}

@media (max-width: 1200px) {
    
    #thumbs {
        display: none;
    }
    #products {
        display: none;
    }
    .individual-div {
        width: 330px;
        height: 170px;
    }
    .icon {
        width: 29px;
    }
    .text {
        font-size: 22px;
    }
    .l-text {
        margin: 0;
        height: 80%;
    }
    .p-text {
        font-size: 12px;
    }
    #employer {
        font-size: 20px;
    }
}

@media (min-width: 1200px) { 
    #thumbs1 {
        display: none;
    }
    #products1 {
        display: none;
    }
}

@media (max-width: 680px) {
    #offers-div {
        display: none;
    }
    .p {
        display: none;
    }
    .individual-div {
        margin-bottom: 5%;
    }
    #products1 {
        display: none;
    }
}

@media (min-width: 680px) {
    .after-box{
        display: none;
    }
}